name: Docker

on:
    workflow_call:
        inputs:
            environment:
                required: true
                type: string
            EC2_PUBLIC_IP:
                required: true
                type: string
        secrets:
            IAM_ROLE_ARN:
                required: true
            EC2_SSH_KEY:
                required: true

permissions:
    id-token: write
    contents: read

jobs:

    docker-deploy:
        name: Docker Deployment
        runs-on: ubuntu-latest
        environment: ${{ inputs.environment }}
        defaults:
            run:
                working-directory: terraform/${{ inputs.environment }}
            

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Debug IP
              run: |
                  if [ "${{ inputs.EC2_PUBLIC_IP }}" != "" ]; then
                      echo "IP available"
                  else
                      echo "No IP"
                  fi
                  echo "Connecting to ${{ inputs.EC2_PUBLIC_IP }}"

            - name: Debug SSH
              run: |
                if [ -z "${{ secrets.EC2_SSH_KEY }}" ]; then
                  echo "SSH key is missing or empty"
                  exit 1
                else
                  echo "SSH key is present"
                fi


            - name: SSH to EC2 and Deploy Docker Container
              uses: appleboy/ssh-action@v0.1.10
              with:
                host: ${{ inputs.EC2_PUBLIC_IP }}
                username: ${{ vars.SELECT_AMI == 'linux2' && 'ec2-user' || 'ubuntu' }}
                key: ${{ secrets.EC2_SSH_KEY }}
                script: |

                    cd platform/
                    docker compose up -d --build















