name: Master

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Deveopment Stage"
        required: true
        default: dev
        type: choice
        options:
          - dev

permissions:
    id-token: write
    contents: read

jobs:
    call-infra:
        uses: ./.github/workflows/infra.yml
        with:
            environment: ${{ github.event.inputs.environment }}
        secrets: 
            IAM_ROLE_ARN: ${{ secrets.IAM_ROLE_ARN }}

    call-docker:
        needs: call-infra
        uses: ./.github/workflows/docker.yml
        with:
            environment: ${{ github.event.inputs.environment }}
            EC2_PUBLIC_IP: ${{ needs.call-infra.outputs.EC2_PUBLIC_IP }}
        secrets: 
            IAM_ROLE_ARN: ${{ secrets.IAM_ROLE_ARN }}
            EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}






